*{
    margin: 0;
    padding: 0;
    font-family: 'Kosugi', sans-serif;
}

header{
    background-color: white;
    height: 10vh;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: space-between;
    z-index: 90;
    /* position: relative; */
}

#logo img{
    width: 120px;
    height: 50px;
    margin-top: 20px;
    margin-left: 85px;
}

#menu{
    width: 40px;
    height: 40px;
    margin-top: 20px;
    margin-right: 85px;
    position: relative;
}

#menu img{
    width: 100%;
    height: 100%;
}

.menu_nav{
    width: 200px;
    height: 180px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgb(178, 178, 178);
    text-align: center;
    font-size: 16px;
    background-color: white;
    position: absolute;
    top: 50px;
    right: -85px;
    margin: auto;
    display: none;
}

.menu_nav p{
    width: 100%;
    height: 45px;
    line-height: 45px;
}

.menu_nav p a{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #5d5d5d;
    border-radius: 10px;
}

.menu_nav p a:hover{
    background-color: blanchedalmond;
}

.menu_nav_a{
    display: flex;
}


main{
    padding-top: 10vh;
    background-color: white;
    width: 100vw;
    height: auto;
}

.main_width{
    width: 1000px;
    height: auto;
    margin: 0 auto;
}

.preference{
    width: 100%;
    height: 120px;
    /* background-color: wheat; */
    border-bottom: 1px solid #C3C3C3;
}

.preference h2{
    text-align: left;
    color: #E33C0B;
    font-size: 35px;
    padding-top: 10px;
}

.preference ul{
    display: flex;
    list-style: none;
    margin-top: 28px;
}

.preference li{
    width: 110px;
    height: 30px;
    text-align: center;
    /* border-bottom: solid 2px orange; */
}

.preference_line{
    border-bottom: solid 3px #E33C0B;
    color: #E33C0B;
}

.preference a{
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 5px 5px 0 0;
    text-decoration: none;
    color: #000000;
}

.preference a:visited .preference a:link{
    color: #000000;
}

.preference a:hover{
    background-color: rgb(255, 160, 26);
    color: white;
}

.main_safe{
    width: 100%;
    height: 480px;
    /* background-color: wheat; */
    border-bottom: solid 1px #C3C3C3;
}

.main_safe h2{
    padding-top: 60px;
    text-align: center;
    color: #E33C0B;
    font-size: 30px;
}

.safe_font{
    padding-top: 30px;
    padding-left: 33px;
    font-size: 12px;
    color: #4D4D4D;
}

.safe_about{
    display: flex;
    padding-top: 50px;
}

.safe_about_l{
    width: 50%;
    height: 100%;
    text-align: center;
}

.safe_about img{
    width: 300px;
    height: 200px;
    border-radius: 10px;
}

.safe_about_r{
    width: 50%;
    height: 100%;
}

.safe_about_r h3{
    padding-top: 40px;
    color: #3e3e3e;
}

.safe_about_r p{
    font-size: 12px;
    padding-top: 10px;
    padding-left: 50px;
    color: #4D4D4D;
}

.main_password{
    width: 100%;
    height: 800px;
    border-bottom: solid 1px #C3C3C3;
}

.main_password h3{
    padding-top: 50px;
    padding-left: 33px;
    color: #3e3e3e;
}

.main_password p{
    padding-top: 30px;
    padding-left: 85px;
    font-size: 12px;
    color: #4D4D4D;
}

.main_password h4{
    padding-top: 70px;
    padding-left: 33px;
    color: #3e3e3e;
}

table{
    width: 800px;
    height: 290px;
    /* border: solid 2px black; */
    margin: 30px auto 0;
    background-color: #DEDEDE;
}

thead tr{
    background-color:#A2A2A2;
    color: black;
    height: 50px;
    font-size: 0.8rem;
}

td{
    font-size: 0.5rem;
    text-align: left;
    color: #414141;
    height: 70px;
    padding-left: 20px;
    border-bottom: solid 1px #B1B1B1;

}

.fraud{
    width: 100%;
    height: 450px;
    /* background-color: blanchedalmond; */
}

.fraud h3{
    padding-top: 50px;
    padding-left: 33px;
    color: #3e3e3e;
}

.fraud p{
    padding-top: 30px;
    padding-left: 85px;
    font-size: 12px;
    color: #4D4D4D;
}

.fraud_ul{
    padding-top: 20px;
    padding-left: 100px;
    color: #4D4D4D;
    font-size: 0.8rem;
}

.fraud h4{
    padding-top: 20px;
    padding-left: 85px;
    color: rgb(137, 0, 0);
    font-size: 1.3em;
    text-align: center;
}